.App {
  flex-direction: row;
}


.App-OfficeDestinationBar {
  align-items: flex-start;
  border: 2px solid black;


}
.App-link {
  color: #61dafb;
}
.App-Map{
  align-items: flex-end;
  height: 600px;
  width: 600px;
  border: 2px solid black;

}
